In [1]:
from dotenv import load_dotenv
load_dotenv(".env")
import pandas as pd

In [2]:
file = "D:\\Work\\git\\git_config_files\\ETL_utilities\\pincode_new.csv"

In [3]:
df = pd.read_csv(file)
df.head()

         0               1               2          3
0  Pincode    Districtname       Statename  Statecode
1   515001   Ananthapuramu  ANDHRA PRADESH         AP
2   515002   Ananthapuramu  ANDHRA PRADESH         AP
3   515004   Ananthapuramu  ANDHRA PRADESH         AP
4   515101  Sri Sathya Sai  ANDHRA PRADESH         AP

In [7]:
df.columns =  df.iloc[0]
df

0      Pincode    Districtname       Statename  Statecode
0      Pincode    Districtname       Statename  Statecode
1       515001   Ananthapuramu  ANDHRA PRADESH         AP
2       515002   Ananthapuramu  ANDHRA PRADESH         AP
3       515004   Ananthapuramu  ANDHRA PRADESH         AP
4       515101  Sri Sathya Sai  ANDHRA PRADESH         AP
...        ...             ...             ...        ...
21073   635601      Tirupathur      TAMIL NADU         TN
21074   506002  Warangal Urban       TELANGANA         TG
21075   135002     Yamunanagar         HARYANA         HR
21076   135001     Yamunanagar         HARYANA         HR
21077   798620       Zunheboto        NAGALAND         NL

[21078 rows x 4 columns]

In [8]:
df.drop(index=0, axis=1)

0     Pincode    Districtname       Statename Statecode
1      515001   Ananthapuramu  ANDHRA PRADESH        AP
2      515002   Ananthapuramu  ANDHRA PRADESH        AP
3      515004   Ananthapuramu  ANDHRA PRADESH        AP
4      515101  Sri Sathya Sai  ANDHRA PRADESH        AP
5      515110  Sri Sathya Sai  ANDHRA PRADESH        AP
...       ...             ...             ...       ...
21073  635601      Tirupathur      TAMIL NADU        TN
21074  506002  Warangal Urban       TELANGANA        TG
21075  135002     Yamunanagar         HARYANA        HR
21076  135001     Yamunanagar         HARYANA        HR
21077  798620       Zunheboto        NAGALAND        NL

[21077 rows x 4 columns]